<h1>SCAM 2016 Twitter Submission Page</h1>
<p>As the Tweeting Conference, SCAM'16 experiments with tweeting short appetizers that should
  encourage people to read and interact with the authors of the paper. It therefore encourages
  authors to supply tweetable material as part of their submission. This will increase the
  visibility of the authors' work to a broader academic and non-academic audience than the physical
  conference attendees. While the SCAM conference account will tweet your statements, please note
  that you are responsible for their content, and a link to your preprint will mark them as
  such.</p>

<% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@paper.errors.count, "error") %> prohibited
        this submission from being saved:
      </h2>
      <ul>
        <% @paper.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for :paper, url: paper_path(@paper), method: :patch  do |f| %>
<%= f.hidden_field :paperid %>
<input type="hidden" value="<%= secr %>" name="secr" id="secr" />
<%= f.hidden_field :email %>

<p>A very short abstract of your paper in max 115 chars. (Mandatory)</p>

  <p>
    <%= f.label :abstract %><br>
    <%= f.text_area :abstract, cols: "50", rows: "4", maxlength: "115" %>
  </p>

<p>At least one controversial statement from your paper that should start a discussion among
  Twitter followers. A link to your preprint will be included automatically. Max 115 chars. (1 Mandatory)</p>  
  <p>
    <%= f.label :controverse1 %><br>
    <%= f.text_area :controverse1, cols: "50", rows: "4", maxlength: "115" %>
  </p>
  
  <p>
    <%= f.label :controverse2 %><br>
    <%= f.text_area :controverse2, cols: "50", rows: "4", maxlength: "115" %>
  </p>

  <p>
    <%= f.label :controverse3 %><br>
    <%= f.text_area :controverse3, cols: "50", rows: "4", maxlength: "115" %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
