<h1>SCAM 2016 Twitter Submission Page</h1>
<p>Create new paper ID</p>

<% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@paper.errors.count, "error") %> prohibited
        this submission from being saved:
      </h2>
      <ul>
        <% @paper.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for :paper, url: papers_path  do |f| %>

  <p>
    <%= f.label :paperid %><br>
    <%= f.text_field :paperid %>
  </p>

    <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
